<h1>New User Sign Up</h1>
<%= render partial: 'layouts/errors', locals: { object: @user } %>

<%= form_with model: @user, url: users_path, method: :post do |form| %>  <div>
  <%= form.label 'username: ' %>
  <%= form.text_field :username, id: :username, required: true %>
</div>
  <div>
    <%= form.label 'password: ' %>
    <%= form.password_field :password, id: :password, required: true %>
  </div>
  <div>
    <%= form.label 'password_confirmation: ' %>
    <%= form.password_field :password_confirmation, id: :password_confirmation, required: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
