
<% if @anime.errors.any? %>
  <h2>The following errors </h2>
  <ul>
    <% @anime.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @anime, local: true do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>

    <%= form.label :genre %><br>
    <%= form.text_field :genre %><br>

    <%= form.label :episodes %><br>
    <%= form.text_field :episodes %><br>
  </div>
  <%= form.submit %>
<% end %>

