<h1>INDIVIDUAL TITLE's DYNAMIC SHOW</h1>

<div class="container">
  <h1><%= @anime.title %></h1>
  <h3>
    <% if @anime.user == current_user %>
      <%= link_to "EDIT #{@anime.title}", edit_anime_path(@anime) %>
      <%= button_to "Destroy", anime_path(@anime), method: :delete,
                    data: {turbo_confirm: "Are You Sure you want to delete #{@anime.title}?"} %>
    <%end %>
    <% if logged_in? %>
      <%= button_to "Add to Favorites", favorites_path(anime_id: @anime.id, user_id: @user.id), method: :post %>
    <% end %>
  </h3>
  <ul class="anime-list">
    <li>Genre: <%= @anime.genre %> <br><br>
      Episodes: <%= @anime.episodes %><br><br>
      Added by: <%=  @anime.user.username %></li>
  </ul>
</div>



