<!DOCTYPE html>
<html>
  <head>
    <title>AnimeCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/links' %>
    <% if logged_in? %>
      <h2>Logged in as <%= @user.username %></h2>
      <%= link_to 'Sign Out', logout_url, data: { turbo_method: :delete }, style: 'color: red;' %>

  <% end %>

  <h1><%= flash.now[:notice] %></h1>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
